html {
    background-repeat: no-repeat;
    font-family: Hauora, monospace;
    font-style: normal;
}
  

body {
    height: 100%;
    background-color: #1B1B1B;
    margin: 0%;
    color: white;
}

.hero {
    text-align: center;
    left: 50%;
    right: 50%;
    margin-top: 8rem;
}

.hero h1 {
    font-size: 60px;
}

.intro {
    text-align: left;
    margin: 20px 25%;
    font-size: larger;
}

.policies {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 20px 25%;
}

.head {
    text-align: left;
    font-size: large;
    font-weight: bold;
}

.head p {
    margin-bottom: 0;
}

.body {
    text-align: left;
    font-size: small;
    font-weight: lighter;
    color: #EDEDED;
}

@media (max-width: 800px) {
    .intro, .policies{
        margin: 20px 10%;
    }

    .body p{
        font-size: small;
    }

    .hero h1 {
        font-size: 35px;
    }


}